@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
}

table {
    border-collapse: collapse;
}

td {
    width: 150px;
    border: 1.5px solid black;
    padding: 4px;
}



td.qtnd {
    text-align: center;
}

tr.header {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

#cor {
    background-color: rgb(4, 145, 4);
}

#preto {
    background-color: lightgray;
    color: black;
    padding: 5px;
    font-size: 1.5em;
    width: 784px;
    text-align: center;
    border: 1px solid black;
    border-bottom: 0px;
    height: 28px;
    font-weight: bolder;

}